

body {
    background-color: #4b4b4b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 280px;
    padding-right: 280px;
    color: #f9faf8;
}

.header-right {
    font-size: 18px;
    color: #e5e7eb;
}
.header, .hero-and-image {
    background-color: #1f2937;
}

.header-left {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 30px;
}

.subtext {
    font-size: 16px;
    display: flex;
    
}


.hero-and-image {
    display: flex;
    align-items: center;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    width: 500px;
    height: auto;
}

.hero {
    font-size: 32px;
    font-weight: 900;
    color: #f9faf8;
    margin-right: 200px;
}